# Geographical Revenue Analysis Using Data Warehousing - Star Schema

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sqlite3

Reading in Original Raw Data

In [2]:
#reads in raw customer data

GbiCustomerText = pd.read_csv('C:\\Users\\Luke\\Desktop\\GbiCustomerText.csv', sep = ';') 
GbiCustomerText

    CustomerId             CustDescr
0         1000  Rocky Mountain Bikes
1         2000       Big Apple Bikes
2         3000          Philly Bikes
3         4000       Peachtree Bikes
4         5000        Beantown Bikes
5         6000      Windy City Bikes
6         7000  Furniture City Bikes
7         8000          Motown Bikes
8         9000           SoCal Bikes
9        10000  Silicon Valley Bikes
10       11000              DC Bikes
11       12000      Northwest Bikes
12       13000         Airport Bikes
13       14000        Alster Cycling
14       15000         Bavaria Bikes
15       16000         Capital Bikes
16       17000         Cruiser Bikes
17       18000             Drahtesel
18       19000              Fahrpott
19       20000             Neckarrad
20       21000             Ostseerad
21       22000            Rädlelland
22       23000       Red Light Bikes
23       24000              Velodrom

In [3]:
#reads in raw orders data

GbiOrders = pd.read_csv('C:\\Users\\Luke\\Desktop\\GbiOrders.csv', sep = ';') 
GbiOrders

       OrderNumber        Date  CustomerId
0           100001  2007-01-01       17000
1           100002  2007-01-03       15000
2           100003  2007-01-03       22000
3           100004  2007-01-03       22000
4           100005  2007-01-04       17000
...            ...         ...         ...
36842       218326  2019-12-27        2000
36843       218327  2019-12-28        8000
36844       218328  2019-12-30        4000
36845       218329  2019-12-31        1000
36846       218330  2019-12-31        3000

[36847 rows x 3 columns]

In [4]:
#reads in raw revenue plan data

GbiPlanData = pd.read_csv('C:\\Users\\Luke\\Desktop\\GbiPlanData.csv', sep = ';') 
GbiPlanData

     Year  CustomerId  RevenuePlan Currency
0    2016        1000      6021240      USD
1    2016        2000      5883800      USD
2    2016        3000      4404660      USD
3    2016        4000      4776340      USD
4    2016        5000      9135880      USD
..    ...         ...          ...      ...
110  2020       20000      6731920      EUR
111  2020       21000      2451410      EUR
112  2020       22000      8453360      EUR
113  2020       23000      6120780      EUR
114  2020       24000      4488740      EUR

[115 rows x 4 columns]

In [5]:
#reads in raw product attribute data

GbiProductAttr = pd.read_csv('C:\\Users\\Luke\\Desktop\\GbiProductAttr.csv', sep = ';') 
GbiProductAttr

   ProductId ProdCat      CatDescr UOM Division
0   BOTL1000     ACC    Accessoire  ST       AS
1   CAGE1000     ACC    Accessoire  ST       AS
2   CITY1000     TRE    Trend Bike  ST       BI
3   DXRD1000     ROB      Roadbike  ST       BI
4   DXRD2000     ROB      Roadbike  ST       BI
5   DXTR1000     TOU  Touring Bike  ST       BI
6   DXTR2000     TOU  Touring Bike  ST       BI
7   DXTR3000     TOU  Touring Bike  ST       BI
8   ELBK1000     EBI        E Bike  ST       BI
9   EPAD1000     ACC    Accessoire  ST       AS
10  FAID1000     ACC    Accessoire  ST       AS
11  FXGR1000     TRE    Trend Bike  ST       BI
12  HVBD1000     EBI        E Bike  ST       BI
13  KPAD1000     ACC    Accessoire  ST       AS
14  OHMT1000     ACC    Accessoire  ST       AS
15  ORHT1000     ORB  Offroad Bike  ST       BI
16  ORHT2000     ORB  Offroad Bike  ST       BI
17  ORMN1000     ORB  Offroad Bike  ST       BI
18  ORWN1000     ORB  Offroad Bike  ST       BI
19  PRRD1000     ROB      Roadbike  ST       BI
20  PRRD2000     ROB      Roadbike  ST       BI
21  PRRD3000     ROB      Roadbike  ST       BI
22  PRTR1000     TOU  Touring Bike  ST       BI
23  PRTR2000     TOU  Touring Bike  ST       BI
24  PRTR3000     TOU  Touring Bike  ST       BI
25  PUMP1000     ACC    Accessoire  ST       AS
26  RHMT1000     ACC    Accessoire  ST       AS
27  RKIT1000     ACC    Accessoire  ST       AS
28  SHRT1000     ACC    Accessoire  ST       AS

In [6]:
#reads in raw product description data

GbiProductText = pd.read_csv('C:\\Users\\Luke\\Desktop\\GbiProductText.csv', sep = ';') 
GbiProductText

   ProductId                              ProdDescr
0   BOTL1000                           Water Bottle
1   CAGE1000                      Water Bottle Cage
2   CITY1000                               City Max
3   DXRD1000                  Road Bike Alu Shimano
4   DXRD2000                     Road Bike Alu SRAM
5   DXTR1000              Deluxe Touring Bike-Black
6   DXTR2000             Deluxe Touring Bike-Silver
7   DXTR3000                Deluxe Touring Bike-Red
8   ELBK1000                        E-Bike Tailwind
9   EPAD1000                             Elbow Pads
10  FAID1000                          First Aid Kit
11  FXGR1000                             Edel Fixie
12  HVBD1000                             Hoverboard
13  KPAD1000                              Knee Pads
14  OHMT1000                        Off Road Helmet
15  ORHT1000  Men's Off Road Bike Hard Tail Shimano
16  ORHT2000     Men's Off Road Bike Hard Tail SRAM
17  ORMN1000              Men's Off Road Bike Fully
18  ORWN1000            Women's Off Road Bike Fully
19  PRRD1000               Road Bike Carbon Shimano
20  PRRD2000                  Road Bike Carbon SRAM
21  PRRD3000            Road Bike Carbon Campagnolo
22  PRTR1000        Professional Touring Bike-Black
23  PRTR2000       Professional Touring Bike-Silver
24  PRTR3000          Professional Touring Bike-Red
25  PUMP1000                               Air Pump
26  RHMT1000                            Road Helmet
27  RKIT1000                             Repair Kit
28  SHRT1000                                T-shirt

In [7]:
#reads in raw items data

GbiOrderItems = pd.read_csv('C:\\Users\\Luke\\Desktop\\GbiOrderItems.csv', sep = ';') 
GbiOrderItems

,OrderNumber,OrderItem,ProductId,SalesQuantity,UnitOfMeasure,Revenue,Currency,Discount,RevenueUSD,DiscountUSD,CostsUSD
0,100001,10,PRTR1000,4,ST,10669.84,EUR,320.10,14080.02,422.41,8320.00
1,100001,20,DXTR1000,8,ST,20005.92,EUR,600.18,26400.00,792.00,15600.00
2,100001,30,DXRD2000,2,ST,2750.82,EUR,82.52,3630.01,108.89,2046.00
3,100001,40,ORWN1000,5,ST,10419.75,EUR,312.59,13750.00,412.50,7500.00
4,100002,10,PRTR1000,4,ST,10669.84,EUR,533.49,14052.21,702.61,8320.00
...,...,...,...,...,...,...,...,...,...,...,...
171005,218330,50,DXRD1000,8,ST,16566.72,USD,497.00,16566.72,497.00,9287.20
171006,218330,60,OHMT1000,9,ST,548.19,USD,16.45,548.19,16.45,247.86
171007,218330,70,FAID1000,2,ST,97.46,USD,2.92,97.46,2.92,44.06
171008,218330,80,PRRD1000,3,ST,14617.68,USD,438.53,14617.68,438.53,8194.59
171009,218330,90,PUMP1000,2,ST,68.22,USD,2.05,68.22,2.05,30.84

Creating and populating database for storage of raw data

In [9]:
#creates SQLite database for storage of raw data

conn = sqlite3.connect('dsc450.db') 
cursor = conn.cursor()

In [10]:
#creates and populates table for customer data

GbiCustomerTextTB = """
CREATE TABLE GbiCustomerTextTB
(
  CustomerId VARCHAR2(30),
  Customer_Desc	 VARCHAR2(30)






);
"""

drop1 = 'Drop Table GbiCustomerTextTB'
cursor.execute(drop1)

cursor.execute(GbiCustomerTextTB) 
for CustomerId,CustDescr in zip(GbiCustomerText['CustomerId'],GbiCustomerText['CustDescr']):
    inserts = (CustomerId,CustDescr)
    cursor.execute("INSERT INTO GbiCustomerTextTB VALUES(?,?);",inserts)
    

GbiCustomerText_result = cursor.execute('SELECT * from GbiCustomerTextTB')
GbiCustomerText_resultread = GbiCustomerText_result.fetchone()
GbiCustomerText_resultread

('1000', 'Rocky Mountain Bikes')

In [13]:
#creates and populates table for orders data

GbiOrdersTB = """
CREATE TABLE GbiOrdersTB
(
  OrderNumber VARCHAR2(30),
  Date	 Date,
  CustomerId VARCHAR2(30)






);
"""

drop1 = 'Drop Table GbiOrdersTB'
cursor.execute(drop1)

cursor.execute(GbiOrdersTB) 
for OrderNumber,Date,CustomerId in zip(GbiOrders['OrderNumber'],GbiOrders['Date'],GbiOrders['CustomerId']):
    inserts = (OrderNumber,Date,CustomerId)
    cursor.execute("INSERT INTO GbiOrdersTB VALUES(?,?,?);",inserts)
    

GbiOrders_result = cursor.execute('SELECT * from GbiOrdersTB')
GbiOrders_resultread = GbiOrders_result.fetchone()
GbiOrders_resultread

('100001', '2007-01-01', '17000')

In [16]:
#creates and populates table for revenue plan data

GbiPlanDataTB = """
CREATE TABLE GbiPlanDataTB
(
  Year number,
  CustomerId VARCHAR2(30),
  RevenuePlan Number,
  Currency VARCHAR2(30)






);
"""

drop1 = 'Drop Table GbiPlanDataTB'
cursor.execute(drop1)

cursor.execute(GbiPlanDataTB) 
for Year,CustomerId,RevenuePlan,Currency in zip(GbiPlanData['Year'],GbiPlanData['CustomerId'],GbiPlanData['RevenuePlan'],GbiPlanData['Currency']):
    inserts = (Year,CustomerId,RevenuePlan,Currency)
    cursor.execute("INSERT INTO GbiPlanDataTB VALUES(?,?,?,?);",inserts)
    

GbiPlanDataTB_result = cursor.execute('SELECT * from GbiPlanDataTB')
GbiPlanDataTB_resultread = GbiPlanDataTB_result.fetchone()
GbiPlanDataTB_resultread

(2016, '1000', 6021240, 'USD')

In [18]:
#creates and populates table for product attribute data

GbiProductAttrTB = """
CREATE TABLE GbiProductAttrTB
(
  ProductId VARCHAR2(30),
  ProdCat VARCHAR2(30),
  CatDescr VARCHAR2(30),
  UOM VARCHAR2(30),
  Division VARCHAR2(30)






);
"""

drop1 = 'Drop Table GbiProductAttrTB'
cursor.execute(drop1)

cursor.execute(GbiProductAttrTB) 
for ProductId,ProdCat,CatDescr,UOM,Division in zip(GbiProductAttr['ProductId'],GbiProductAttr['ProdCat'],GbiProductAttr['CatDescr'],GbiProductAttr['UOM'],GbiProductAttr['Division']):
    inserts = (ProductId,ProdCat,CatDescr,UOM,Division)
    cursor.execute("INSERT INTO GbiProductAttrTB VALUES(?,?,?,?,?);",inserts)
    

GbiProductAttrTB_result = cursor.execute('SELECT * from GbiProductAttrTB')
GbiProductAttrTB_resultread = GbiProductAttrTB_result.fetchone()
GbiProductAttrTB_resultread

('BOTL1000', 'ACC', 'Accessoire', 'ST', 'AS')

In [20]:
#creates and populates table for items data

GbiOrderItemsTB = """
CREATE TABLE GbiOrderItemsTB
(
  OrderNumber VARCHAR2(30),
  OrderItem VARCHAR2(30),
  ProductId VARCHAR2(30),
  SalesQuantity Number,
  UnitOfMeasure VARCHAR2(30),
  Revenue Number,
  Currency VARCHAR2(30),
  Discount Number,
  RevenueUSD Number,
  DiscountUSD Number,
  CostsUSD Number





);
"""

drop1 = 'Drop Table GbiOrderItemsTB'
cursor.execute(drop1)

cursor.execute(GbiOrderItemsTB) 
for OrderNumber,OrderItem,ProductId,SalesQuantity,UnitOfMeasure,Revenue,Currency,Discount,RevenueUSD,DiscountUSD,CostsUSD in zip(GbiOrderItems['OrderNumber'],GbiOrderItems['OrderItem'],GbiOrderItems['ProductId'],GbiOrderItems['SalesQuantity'],GbiOrderItems['UnitOfMeasure'],GbiOrderItems['Revenue'],GbiOrderItems['Currency'],GbiOrderItems['Discount'],GbiOrderItems['RevenueUSD'],GbiOrderItems['DiscountUSD'],GbiOrderItems['CostsUSD']):
    inserts = (OrderNumber,OrderItem,ProductId,SalesQuantity,UnitOfMeasure,Revenue,Currency,Discount,RevenueUSD,DiscountUSD,CostsUSD)
    cursor.execute("INSERT INTO GbiOrderItemsTB VALUES(?,?,?,?,?,?,?,?,?,?,?);",inserts)
    

GbiOrderItemsTB_result = cursor.execute('SELECT * from GbiOrderItemsTB')
GbiOrderItemsTB_resultread = GbiOrderItemsTB_result.fetchone()
GbiOrderItemsTB_resultread

('100001',
 '10',
 'PRTR1000',
 4,
 'ST',
 10669.84,
 'EUR',
 320.1,
 14080.02,
 422.41,
 8320)

In [22]:
#creates and populates table for product description data

GbiProductTextTB = """
CREATE TABLE GbiProductTextTB
(
  ProductId VARCHAR2(30),
  ProdDescr	 VARCHAR2(30)






);
"""

drop1 = 'Drop Table GbiProductTextTB'
cursor.execute(drop1)

cursor.execute(GbiProductTextTB) 
for ProductId,ProdDescr in zip(GbiProductText['ProductId'],GbiProductText['ProdDescr']):
    inserts = (ProductId,ProdDescr)
    cursor.execute("INSERT INTO GbiProductTextTB VALUES(?,?);",inserts)
    

GbiProductTextTB_result = cursor.execute('SELECT * from GbiProductTextTB')
GbiProductTextTB_resultread = GbiProductTextTB_result.fetchone()
GbiProductTextTB_resultread

('BOTL1000', 'Water Bottle')

Creates and prepares fact tables and dimension tables

In [27]:
#creates view of the 'Customer' dimension

Dim_Customer = '''Create View Dim_Customer as
Select distinct c.CustomerId, c.Customer_Desc, d.Currency
From GbiCustomerTextTB c inner join GbiPlanDataTB d
on c.CustomerId = d.CustomerId'''

drop1 = 'Drop table Dim_Customer'
cursor.execute(drop1)
cursor.execute(Dim_Customer) 

Dim_Customer_result = cursor.execute('SELECT * from Dim_Customer')
Dim_Customer_result.fetchone()

('1000', 'Rocky Mountain Bikes', 'USD')

In [31]:
#creates view of the 'Product' dimension

Dim_Product = '''Create View Dim_Product as
Select distinct p.ProductId, b.ProdDescr, p.CatDescr, p.Division
From GbiProductAttrTB p inner join GbiProductTextTB b
on p.ProductId = b.ProductId'''

drop1 = 'Drop view Dim_Product'
cursor.execute(drop1)
cursor.execute(Dim_Product) 

Dim_Customer_result = cursor.execute('SELECT * from Dim_Product')
Dim_Customer_result.fetchone()

('BOTL1000', 'Water Bottle', 'Accessoire', 'AS')

In [33]:
#creates view of the 'Order' dimension

Dim_Order = '''Create View Dim_Order as
select distinct * from GbiOrdersTB'''

drop1 = 'Drop view Dim_Order'
cursor.execute(drop1)
cursor.execute(Dim_Order) 

Dim_Customer_result = cursor.execute('SELECT * from Dim_Order')
Dim_Customer_result.fetchone()

('100001', '2007-01-01', '17000')

In [35]:
#creates view of the Fact table

Fact = '''Create View Fact as
Select distinct i.OrderNumber, i.SalesQuantity, i.ProductId, o.Date, o.CustomerId
From GbiOrderItemsTB i inner join GbiOrdersTB o
on i.OrderNumber = o.OrderNumber'''

drop1 = 'Drop view Fact'
cursor.execute(drop1)
cursor.execute(Fact) 

Fact_result = cursor.execute('SELECT * from Fact')
Fact_result.fetchone()

('100001', 4, 'PRTR1000', '2007-01-01', '17000')

In [37]:
#creates view of the 'Date' dimension

Dim_Date = '''Create View Dim_Date as
Select distinct Date, strftime('%Y', Date) AS "Year", strftime('%m', Date) AS "Month", strftime('%d', Date) AS "Day"
From GbiOrdersTB'''

drop1 = 'Drop view Dim_Date'
cursor.execute(drop1)
cursor.execute(Dim_Date) 

Dim_Date_result = cursor.execute('SELECT * from Dim_Date')
Dim_Date_result.fetchone()

('2007-01-01', '2007', '01', '01')

Exports fact and dimension tables for BI tool analysis

In [38]:
#creates csv file of the "Date" dimension

amount = cursor.execute('SELECT count(*) from Dim_Date')
count = amount.fetchone()
count = count[0]
rows = cursor.execute('SELECT * from Dim_Date')

dtweets = {}

columnnameslist = []
colnames = cursor.description
for col in colnames:

    dtweets[col[0]] = []
    columnnameslist.append(col[0]) 

row = rows.fetchall()
df = pd.DataFrame(row, columns=columnnameslist)
csv_data = df.to_csv()
csvfile = open('Dim_Date.csv', 'w',encoding='utf8')
csvfile.write(csv_data)
csvfile.close()

In [39]:
#creates csv file of the "Customer" dimension

amount = cursor.execute('SELECT count(*) from Dim_Customer')
count = amount.fetchone()
count = count[0]
rows = cursor.execute('SELECT * from Dim_Customer')

dtweets = {}

columnnameslist = []
colnames = cursor.description
for col in colnames:

    dtweets[col[0]] = []
    columnnameslist.append(col[0]) 

row = rows.fetchall()
df = pd.DataFrame(row, columns=columnnameslist)
csv_data = df.to_csv()
csvfile = open('Dim_Customer.csv', 'w',encoding='utf8')
csvfile.write(csv_data)
csvfile.close()

In [40]:
#creates csv file of the "Order" dimension

amount = cursor.execute('SELECT count(*) from Dim_Order')
count = amount.fetchone()
count = count[0]
rows = cursor.execute('SELECT * from Dim_Order')

dtweets = {}

columnnameslist = []
colnames = cursor.description
for col in colnames:

    dtweets[col[0]] = []
    columnnameslist.append(col[0]) 

row = rows.fetchall()
df = pd.DataFrame(row, columns=columnnameslist)
csv_data = df.to_csv()
csvfile = open('Dim_Order.csv', 'w',encoding='utf8')
csvfile.write(csv_data)
csvfile.close()

In [41]:
#creates csv file of the "Product" dimension

amount = cursor.execute('SELECT count(*) from Dim_Product')
count = amount.fetchone()
count = count[0]
rows = cursor.execute('SELECT * from Dim_Product')

dtweets = {}

columnnameslist = []
colnames = cursor.description
for col in colnames:

    dtweets[col[0]] = []
    columnnameslist.append(col[0]) 

row = rows.fetchall()
df = pd.DataFrame(row, columns=columnnameslist)
csv_data = df.to_csv()
csvfile = open('Dim_Product.csv', 'w',encoding='utf8')
csvfile.write(csv_data)
csvfile.close()

In [42]:
#creates csv file of the Fact table

amount = cursor.execute('SELECT count(*) from Fact')
count = amount.fetchone()
count = count[0]
rows = cursor.execute('SELECT * from Fact')

dtweets = {}

columnnameslist = []
colnames = cursor.description
for col in colnames:

    dtweets[col[0]] = []
    columnnameslist.append(col[0]) 

row = rows.fetchall()
df = pd.DataFrame(row, columns=columnnameslist)
csv_data = df.to_csv()
csvfile = open('Fact.csv', 'w',encoding='utf8')
csvfile.write(csv_data)
csvfile.close()